<a href="https://colab.research.google.com/github/bustanularifin666/MachineLearningTasks/blob/main/TaskWeek7/XGBosst_Melb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Muhammad Bustanul Arifin Nur Fathurrahman
1103228224

In [22]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
data = pd.read_csv('/content/drive/MyDrive/Dataset/melb_data.csv')
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [26]:
data.dropna(subset=['Car'], inplace=True)
nan_count_car = data['Car'].isna().sum()
print(f"Jumlah nilai NaN dalam kolom Car: {nan_count_car}")

Jumlah nilai NaN dalam kolom Car: 0

In [27]:
data['Bedroom2'] = data['Bedroom2'].astype(int)
data['Bathroom'] = data['Bathroom'].astype(int)
data['Car'] = data['Car'].astype(int)

In [28]:
# Select subset of predictors
cols_to_use = ['Rooms', 'Distance', 'Landsize', 'BuildingArea', 'YearBuilt']
X = data[cols_to_use]

In [29]:
# Select target
y = data.Price

# Separate data into training and validation sets
X_train, X_valid, y_train, y_valid = train_test_split(X, y, random_state=42,test_size=0.3)

In [30]:
my_model = XGBRegressor()
my_model.fit(X_train, y_train)
predictions = my_model.predict(X_valid)
print("Mean Abasolute Error :" + str(mean_absolute_error(predictions,y_valid)))

Mean Abasolute Error :241637.14228920118

In [31]:
my_model_0 = XGBRegressor(n_estimators=500)
my_model_0.fit(X_train, y_train)
predictions_0 = my_model_0.predict(X_valid)
print("Mean Abasolute Error :" + str(mean_absolute_error(predictions_0,y_valid)))

Mean Abasolute Error :254079.60437854414

In [34]:
my_model_1 = XGBRegressor(n_estimators=110)
my_model_1.fit(X_train, y_train)
predictions_1 = my_model_1.predict(X_valid)
print("Mean Abasolute Error :" + str(mean_absolute_error(predictions_1,y_valid)))

Mean Abasolute Error :242206.0524955313

In [35]:
# Tentukan range nilai n_estimators yang akan diuji
n_estimators_list = [100, 150, 200, 250, 300]

# Inisialisasi sebuah list untuk menyimpan hasil MAE
mae_results = []

# Loop melalui setiap nilai n_estimators
for n_estimators in n_estimators_list:
    # Inisialisasi model dengan n_estimators tertentu
    model_grid = XGBRegressor(n_estimators=n_estimators)

    # Fitting model menggunakan data training dan lakukan prediksi pada data validasi
    model_grid.fit(X_train, y_train)
    predictions = model_grid.predict(X_valid)

    # Menghitung nilai MAE
    mae = mean_absolute_error(predictions, y_valid)

    # Tampilkan nilai MAE pada tiap nilai n_estimators
    print(f"n_estimators: {n_estimators}, Mean Absolute Error: {mae}")

    # Tambahkan nilai MAE ke dalam list
    mae_results.append(mae)

n_estimators: 100, Mean Absolute Error: 241637.14228920118
n_estimators: 150, Mean Absolute Error: 243228.3698976054
n_estimators: 200, Mean Absolute Error: 245296.04482749323
n_estimators: 250, Mean Absolute Error: 247178.43902937006
n_estimators: 300, Mean Absolute Error: 249329.28532189966

In [36]:
my_model_2 = XGBRegressor(n_estimators=100)
my_model_2.fit(X_train, y_train,
               early_stopping_rounds=5,
               eval_set=[(X_valid, y_valid)],
               verbose=False)

predictions_2 = my_model_2.predict(X_valid)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions_2, y_valid)))

Mean Absolute Error: 246166.56518602843

/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:885: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

In [38]:
my_model_2 = XGBRegressor(n_estimators=90, learning_rate=0.2,n_jobs=5)
my_model_2.fit(X_train, y_train,)
predictions_3 = my_model_2.predict(X_valid)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions_3, y_valid)))

Mean Absolute Error: 238533.91415495562